body {
  background-color: #fff;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1 {
  color: #fff;
  font-size: 72px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(1px 1px 10px #c0c0c0);
}

.item {
  display: inline-block;
  font-size: 40px;
  border-bottom: 5px solid #E03131;
  margin-bottom: 70px;
}

header {
  background-image: url(/img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  height: 100vh;
  padding: 20px 40px;
  position: relative;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
}
.header-nav ul li {
  margin-left: 30px;
}
.header-nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  filter: drop-shadow(1px 1px 2px #121212);
  transition: 0.3s;
}
.header-nav ul li a:hover {
  color: #E03131;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  width: 420px;
}

#menu {
  margin-top: 20px;
}
#menu .title {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  background-image: url(/img/menu.jpg);
}

.menu-contents {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 16px 150px;
  display: flex;
}
.menu-contents .menu-item {
  width: 50%;
  padding-inline: 45px;
}
.menu-contents .menu-item:first-child {
  border-right: 1px solid #000;
}
.menu-contents .menu-item dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.menu-contents .menu-item dl dt {
  width: 85%;
  text-align: left;
  border-bottom: 1px dotted #000;
  margin-bottom: 25px;
}
.menu-contents .menu-item dl dd {
  width: 15%;
  text-align: right;
  padding-top: 8px;
}
.menu-contents .menu-item .food {
  margin-bottom: 55px;
}

#about {
  margin-top: 20px;
}
#about .title {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  background-image: url(/img/about.jpg);
}

.coffee-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 16px 150px;
}
.coffee-text ul {
  display: flex;
  flex-wrap: wrap;
}
.coffee-text ul li {
  width: 50%;
  padding: 20px;
  text-align: left;
  font-size: 0.9rem;
  line-height: 2;
}
.coffee-text a {
  font-size: 0.9rem;
}
.coffee-text .btn {
  margin-top: 40px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease;
  position: relative;
}
.coffee-text .btn::before, .coffee-text .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
.coffee-text .btn::before {
  width: 2px;
  height: 50%;
}
.coffee-text .btn::after {
  width: 20%;
  height: 2px;
}
.coffee-text .btn:hover::before {
  height: 100%;
}
.coffee-text .btn:hover::after {
  width: 100%;
}
.coffee-text .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.coffee-text .btn span::before, .coffee-text .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
.coffee-text .btn span::before {
  width: 2px;
  height: 50%;
}
.coffee-text .btn span::after {
  width: 20%;
  height: 2px;
}
.coffee-text .btn span:hover::before {
  height: 100%;
}
.coffee-text .btn span:hover::after {
  width: 100%;
}

#location {
  margin-top: 20px;
}
#location .title {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  background-image: url(/img/location.jpg);
}

.store-detail {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 16px 150px;
}
.store-detail .map {
  margin-bottom: 20px;
}
.store-detail .map iframe {
  width: 100%;
  filter: grayscale(1);
}
.store-detail .address, .store-detail .business-hours, .store-detail .tel {
  text-align: left;
  font-size: 0.9rem;
}
.store-detail .address p:last-child, .store-detail .business-hours p:last-child, .store-detail .tel p:last-child {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-block: 10px;
}

@media (max-width: 770px) {
  #menu .title, #about .title, #location .title {
    height: 100px;
  }
  #menu .title h1, #about .title h1, #location .title h1 {
    font-size: 32px;
  }
  .item {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .menu-contents, .coffee-text, .store-detail {
    padding: 30px 16px 60px;
  }
  .menu-contents {
    flex-direction: column;
  }
  .menu-contents .menu-item {
    width: 100%;
    padding-inline: 0;
  }
  .menu-contents .menu-item:first-child {
    border-right: none;
  }
  .coffee-text ul {
    flex-direction: column;
  }
  .coffee-text ul li {
    width: 100%;
  }
  .store-detail iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */