@charset "UTF-8";

@mixin wrapper-card {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 16px 150px;
}
@mixin title-card {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}

body {
    background-color: #fff;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

h1 {
    color: #fff;
    font-size: 72px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    // text-shadow: 1px 1px 10px #c0c0c0;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
}

.item {
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid #E03131;
    margin-bottom: 70px;
}


// header
header {
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding: 20px 40px;
    position: relative;
}
.header-nav {
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                margin-left: 30px;
                a {
                    color: #fff;
                    font-weight: bold;
                    font-size: 0.9rem;
                    // text-shadow: 2px 2px 4px #000;
                    filter: drop-shadow(1px 1px 2px #121212);
                    transition: 0.3s;
                    &:hover {
                        color: #E03131;
                    }
                }
            }
        }
    }
.logo {
    // text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 420px;
    }
}

//menu
#menu {
    // background-color: #fff;
    margin-top: 20px;
    .title {
        @include title-card;
        background-image: url(img/menu.jpg);
    }
}
.menu-contents {
    @include wrapper-card;
    display: flex;
    .menu-item {
        width: 50%;
        padding-inline: 45px;
        &:first-child {
            border-right: 1px solid #000;
        }
        dl {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.9rem;
            // &:nth-of-type(2) {
                // margin-bottom: 50px;
            // }
            dt {
                width: 85%;
                text-align: left;
                border-bottom: 1px dotted #000;
                margin-bottom: 25px;
            }
            dd {
                width: 15%;
                text-align: right;
                padding-top: 8px;
            }
        }
        .food {
            margin-bottom: 55px;
        }
    }
    
}

// about
#about {
    margin-top: 20px;
    .title {
        @include title-card;
        background-image: url(img/about.jpg);
    }
}
.coffee-text {
    @include wrapper-card;
    ul {
        display: flex;
        flex-wrap: wrap;
        // gap: 40px;
        li {
            width: 50%;
            padding: 20px;
            text-align: left;
            font-size: 0.9rem;
            line-height: 2;
        }
    }
    a {
        font-size: 0.9rem;
    }
    .btn {
        margin-top: 40px;
        width: 160px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        color: #000;
        transition: all 0.3s ease;
        position: relative;
        &::before, &::after {
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            background: #e03131;
            transition: all 0.3s ease;
        }
        &::before {
            width: 2px;
            height: 50%;
        }
        &::after {
            width: 20%;
            height: 2px;
        }
        &:hover::before {
            height: 100%;
        }
        &:hover::after {
            width: 100%;
        }

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            &::before, &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                background: #e03131;
                transition: all 0.3s ease;
            }
            &::before {
                width: 2px;
                height: 50%;
            }
            &::after {
                width: 20%;
                height: 2px;
            }
            &:hover::before {
                height: 100%;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

// location
#location {
    margin-top: 20px;
    .title {
        @include title-card;
        background-image: url(img/location.jpg);
    }
}
.store-detail {
    @include wrapper-card;
    .map {
        margin-bottom: 20px;
        iframe {
            width: 100%;
            filter: grayscale(1);
        }
    }
    .address, .business-hours, .tel {
        text-align: left;
        font-size: 0.9rem;
        p {
            &:last-child {
            margin-bottom: 10px;
            }
        }
    }
}

// footer
footer {
    text-align: center;
    font-size: 10px;
    padding-block: 10px;
}

// responsive
@media (max-width: 770px) {
    #menu, #about, #location {
        .title {
        height: 100px;
        h1 {
            font-size: 32px;
        }
        }
    }
    .item {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .menu-contents, .coffee-text, .store-detail {
        padding: 30px 16px 60px;
    }
// menu
    .menu-contents {
        flex-direction: column;
        .menu-item {
            width: 100%;
            padding-inline: 0;
            &:first-child {
                border-right: none;
            }
        }
    }

// about
    .coffee-text {
        ul {
            flex-direction: column;
            li {
                width: 100%;
            }
        }
    }

// location
    .store-detail {
        iframe {
            width: 100%;
        } 
    }
}